<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="warning">Codigo Qr</ion-title>
  </ion-toolbar>
</ion-header>

<br><br><br>
<ion-content>
  <div style="height: 50%; display: flex; align-items: center; justify-content: center;">
    <ion-card>
      <img src="assets/img/qr.png">  
    </ion-card>  
  </div>
  <ion-button [routerLink]="['/alumnos']">
    Listado de alumnos  
  </ion-button>
</ion-content>
